<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <body>
    <h3 style="text-decoration: underline">User profile</h3>
    <div class="container">
      <p>loading ....</p>
    </div>

    <script>
      const logout = () => {
        document.cookie = "access_token=;";
        location.assign('/login')
      };
      const getUserProfile = async () => {
        try {
          const token = document.cookie
            .split(";")
            .find(
              (cookie) =>
                cookie.split("=")[0] === "access_token" && cookie.split("=")[1]
            );
          const res = await fetch(`http://localhost:4000/users/profile`, {
            headers: {
              authorization: `Bearer ${token}`,
            },
          });

          const data = await res.json();
          console.log(token);
          if (data.status) {
            document.querySelector(".container").innerHTML = `
            <h2>
                ${data.user.lastName} ${data.user.firstName}
                
            </h2>
            <h3>
                ${data.user.email}
                </h3>

                <button onClick="logout()">
                    logout
                </button>
            `;

            return;
          }

          document.querySelector(".container").innerHTML = JSON.stringify(data);
        } catch (error) {
          console.log("error getting user profile", error.message);
          document.querySelector(".container").innerHTML =
            "<h5>An error occurred</h5>";
        }
      };

      getUserProfile();
    </script>
  </body>
</html>
