<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
   <style>
      form div {
        display: flex;
        gap: 2em;
        margin: 1em 0;
      }
      form input {
        margin-left: 2em;
      }
      .error {
        background: red;
        color: white;
        padding: 1em;
        /* width: 100px; */
      }
    </style>
  </head>
  <body>
    <h2>Login to your account</h2>

    <p class="error"></p>
    <form action="" method="post">
      <div>
        <label for="email">Email</label>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="enter your email"
        />
      </div>
      <div>
        <label for="password">password</label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="enter your password"
        />
      </div>
      <div>
        <button type="submit">sign in</button>
      </div>
      <div>
        <p>No account yet? <a href="/signup">Create one!</a></p>
      </div>
    </form>

    <script>
        document.querySelector(".error").style.display = "none";
      const form = document.querySelector("form");
      form.addEventListener("submit", async (e) => {
        try {
          e.preventDefault();

          let body = {
            email: form.email.value,
            password: form.password.value,
          };

          const res = await fetch(`http://localhost:4000/users/login`, {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(body),
          });

          const data = await res.json();

            if (!data.status) {
            document.querySelector(".error").style.display = "inline-block";
            document.querySelector(".error").innerText = data.message;
            return;
          }
          document.querySelector(".error").style.display = "none";

          document.cookie = `access_token=${data.access_token}`;
          location.assign("/");
        } catch (error) {
          document.querySelector(".error").innerText = error.message;
        }
      });
    </script>
  </body>
</html>
