<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Account</title>
    <style>
      form div {
        display: flex;
        gap: 2em;
        margin: 1em 0;
      }
      form input {
        margin-left: 2em;
      }
      .error {
        background: red;
        color: white;
        padding: 1em;
        /* width: 100px; */
      }
    </style>
  </head>
  <body>
    <h2>Create new Account</h2>

    <span class="error"></span>
    <form action="" method="post">
      <div>
        <label for="email">Email</label>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="enter your email"
        />
      </div>
      <div>
        <label for="firstName">firstName</label>
        <input
          type="firstName"
          name="firstName"
          id="firstName"
          placeholder="enter your firstName"
        />
      </div>
      <div>
        <label for="lastName">lastName</label>
        <input
          type="lastName"
          name="lastName"
          id="lastName"
          placeholder="enter your lastName"
        />
      </div>
      <div>
        <label for="password">password</label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="enter your password"
        />
      </div>
      <div>
        <button type="submit">create account</button>
      </div>

      <div>
        <p>Already have an account? <a href="/login">login!</a></p>
      </div>
    </form>

    <script>
      document.querySelector(".error").style.display = "none";
      const form = document.querySelector("form");
      form.addEventListener("submit", async (e) => {
        try {
          e.preventDefault();

          let body = {
            email: form.email.value,
            password: form.password.value,
            firstName: form.firstName.value,
            lastName: form.lastName.value,
          };

          const res = await fetch(`http://localhost:4000/users/signup`, {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(body),
          });

          const data = await res.json();

          if (!data.status) {
            document.querySelector(".error").style.display = "inline-block";
            document.querySelector(".error").innerText = data.message;
            return;
          }
          document.querySelector(".error").style.display = "none";

          document.cookie = `access_token=${data.access_token}`;
          location.assign("/");
        } catch (error) {
          document.querySelector(".error").style.display = "inline-block";
          document.querySelector(".error").innerText = error.message;
        }
      });
    </script>
  </body>
</html>
